/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background: url('./assets/images/bg.jpg');
}

.cursor-pointer{
    cursor: pointer;
}

.form-control, .btn{
    border-radius: 0;
}
